header {
    margin-bottom: 18%;
    margin-top: 1%;
    
}

.highscore {
    display: inline;
    margin-left: 5px;
       
}

.time {
    display: inline;
    float: right;
    margin-right: 5px;
   
}


h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
}

p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.2rem;
}

button {
    color: white;
    background-color: blue;
    height: 30px;
    width:50px;
    border-radius: 15px;

}

.btnDiv {
    display: flex;
    justify-content: center;
    
}